/vendor/
/.env
/.env.*
!.env.example

.phpunit.result.cache
npm-debug.log
yarn-error.log

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/bootstrap/cache/*

/public/build/

database/database.sqlite-journal
database/database.sqlite-wal
database/database.sqlite-shm